/* z-index */
@for $lh from 1 through 5 {
  .z-index-#{$lh} {
    z-index: $lh;
  }
}
/* Padding */
$p-array: 0;
@each $p in $p-array {
  .p-#{$p} {
    padding: toRem($p) !important;
  }
}
@for $p from 1 through 30 {
  .p-#{$p} {
    padding: toRem($p) !important;
  }
}
$p-xxl-array: 0;
@each $p in $p-xxl-array {
  .p-xxl-#{$p} {
    @media screen and (min-width: 1400px) {
      padding: toRem($p) !important;
    }
  }
}
$p-xl-array: 0;
@each $p in $p-xl-array {
  .p-xl-#{$p} {
    @media screen and (min-width: 1200px) {
      padding: toRem($p) !important;
    }
  }
}
$p-lg-array: 0;
@each $p in $p-lg-array {
  .p-lg-#{$p} {
    @media screen and (min-width: 992px) {
      padding: toRem($p) !important;
    }
  }
}
$p-md-array: 0;
@each $p in $p-md-array {
  .p-md-#{$p} {
    @media screen and (min-width: 768px) {
      padding: toRem($p) !important;
    }
  }
}
$p-sm-array: 25, 30;
@each $p in $p-sm-array {
  .p-sm-#{$p} {
    @media screen and (min-width: 576px) {
      padding: toRem($p) !important;
    }
  }
}
/* Padding top & bottom */
$py-array: 0;
@each $py in $py-array {
  .py-#{$py} {
    padding-top: toRem($py) !important;
    padding-bottom: toRem($py) !important;
  }
}
@for $py from 1 through 30 {
  .py-#{$py} {
    padding-top: toRem($py) !important;
    padding-bottom: toRem($py) !important;
  }
}
$py-xxl-array: 0;
@each $py-xxl in $py-xxl-array {
  .py-xxl-#{$py-xxl} {
    @media screen and (min-width: 1400px) {
      padding-top: toRem($py-xxl) !important;
      padding-bottom: toRem($py-xxl) !important;
    }
  }
}
$py-xl-array: 0;
@each $py-xl in $py-xl-array {
  .py-xl-#{$py-xl} {
    @media screen and (min-width: 1200px) {
      padding-top: toRem($py-xl) !important;
      padding-bottom: toRem($py-xl) !important;
    }
  }
}
$py-lg-array: 0;
@each $py-lg in $py-lg-array {
  .py-lg-#{$py-lg} {
    @media screen and (min-width: 992px) {
      padding-top: toRem($py-lg) !important;
      padding-bottom: toRem($py-lg) !important;
    }
  }
}
$py-md-array: 0;
@each $py-md in $py-md-array {
  .py-md-#{$py-md} {
    @media screen and (min-width: 768px) {
      padding-top: toRem($py-md) !important;
      padding-bottom: toRem($py-md) !important;
    }
  }
}
$py-sm-array: 0;
@each $py-sm in $py-sm-array {
  .py-sm-#{$py-sm} {
    @media screen and (min-width: 576px) {
      padding-top: toRem($py-sm) !important;
      padding-bottom: toRem($py-sm) !important;
    }
  }
}
/* Padding left & right */
$px-array: 33;
@each $px in $px-array {
  .px-#{$px} {
    padding-left: toRem($px) !important;
    padding-right: toRem($px) !important;
  }
}
@for $px from 1 through 30 {
  .px-#{$px} {
    padding-left: toRem($px) !important;
    padding-right: toRem($px) !important;
  }
}
$px-xxl-array: 0;
@each $px-xxl in $px-xxl-array {
  .px-xxl-#{$px-xxl} {
    @media screen and (min-width: 1400px) {
      padding-left: toRem($px-xxl) !important;
      padding-right: toRem($px-xxl) !important;
    }
  }
}
$px-xl-array: 0;
@each $px-xl in $px-xl-array {
  .px-xl-#{$px-xl} {
    @media screen and (min-width: 1200px) {
      padding-left: toRem($px-xl) !important;
      padding-right: toRem($px-xl) !important;
    }
  }
}
$px-lg-array: 0;
@each $px-lg in $px-lg-array {
  .px-lg-#{$px-lg} {
    @media screen and (min-width: 992px) {
      padding-left: toRem($px-lg) !important;
      padding-right: toRem($px-lg) !important;
    }
  }
}
$px-md-array: 0;
@each $px-md in $px-md-array {
  .px-md-#{$px-md} {
    @media screen and (min-width: 768px) {
      padding-left: toRem($px-md) !important;
      padding-right: toRem($px-md) !important;
    }
  }
}
$px-sm-array: 20;
@each $px-sm in $px-sm-array {
  .px-sm-#{$px-sm} {
    @media screen and (min-width: 576px) {
      padding-left: toRem($px-sm) !important;
      padding-right: toRem($px-sm) !important;
    }
  }
}
/* Padding top */
$pt-array: 0;
@each $pt in $pt-array {
  .pt-#{$pt} {
    padding-top: toRem($pt) !important;
  }
}
@for $pt from 1 through 30 {
  .pt-#{$pt} {
    padding-top: toRem($pt) !important;
  }
}
$pt-xxl-array: 0;
@each $pt-xxl in $pt-xxl-array {
  .pt-xxl-#{$pt-xxl} {
    @media screen and (min-width: 1400px) {
      padding-top: toRem($pt-xxl) !important;
    }
  }
}
$pt-xl-array: 0;
@each $pt-xl in $pt-xl-array {
  .pt-xl-#{$pt-xl} {
    @media screen and (min-width: 1200px) {
      padding-top: toRem($pt-xl) !important;
    }
  }
}
$pt-lg-array: 0;
@each $pt-lg in $pt-lg-array {
  .pt-lg-#{$pt-lg} {
    @media screen and (min-width: 992px) {
      padding-top: toRem($pt-lg) !important;
    }
  }
}
$pt-md-array: 0;
@each $pt-md in $pt-md-array {
  .pt-md-#{$pt-md} {
    @media screen and (min-width: 768px) {
      padding-top: toRem($pt-md) !important;
    }
  }
}
$pt-sm-array: 0;
@each $pt-sm in $pt-sm-array {
  .pt-sm-#{$pt-sm} {
    @media screen and (min-width: 576px) {
      padding-top: toRem($pt-sm) !important;
    }
  }
}
/* Padding bottom */
$pb-array: 32, 33, 35, 37, 40, 41, 50, 55;
@each $pba in $pb-array {
  .pb-#{$pba} {
    padding-bottom: toRem($pba) !important;
  }
}
@for $pb from 1 through 30 {
  .pb-#{$pb} {
    padding-bottom: toRem($pb) !important;
  }
}
$pb-xxl-array: 0;
@each $pb-xxl in $pb-xxl-array {
  .pb-xxl-#{$pb-xxl} {
    @media screen and (min-width: 1400px) {
      padding-bottom: toRem($pb-xxl) !important;
    }
  }
}
$pb-xl-array: 0;
@each $pb-xl in $pb-xl-array {
  .pb-xl-#{$pb-xl} {
    @media screen and (min-width: 1200px) {
      padding-bottom: toRem($pb-xl) !important;
    }
  }
}
$pb-lg-array: 0;
@each $pb-lg in $pb-lg-array {
  .pb-lg-#{$pb-lg} {
    @media screen and (min-width: 992px) {
      padding-bottom: toRem($pb-lg) !important;
    }
  }
}
$pb-md-array: 0;
@each $pb-md in $pb-md-array {
  .pb-md-#{$pb-md} {
    @media screen and (min-width: 768px) {
      padding-bottom: toRem($pb-md) !important;
    }
  }
}
$pb-sm-array: 0;
@each $pb-sm in $pb-sm-array {
  .pb-sm-#{$pb-sm} {
    @media screen and (min-width: 576px) {
      padding-bottom: toRem($pb-sm) !important;
    }
  }
}
/* Padding Left */
$pl-array: 0;
@each $pl in $pl-array {
  .pl-#{$pl} {
    padding-left: toRem($pl) !important;
  }
}
@for $pl from 1 through 30 {
  .pl-#{$pl} {
    padding-left: toRem($pl) !important;
  }
}
$pl-xxl-array: 0;
@each $pl-xxl in $pl-xxl-array {
  .pl-xxl-#{$pl-xxl} {
    @media screen and (min-width: 1400px) {
      padding-left: toRem($pl-xxl) !important;
    }
  }
}
$pl-xl-array: 0;
@each $pl-xl in $pl-xl-array {
  .pl-xl-#{$pl-xl} {
    @media screen and (min-width: 1200px) {
      padding-left: toRem($pl-xl) !important;
    }
  }
}
$pl-lg-array: 0;
@each $pl-lg in $pl-lg-array {
  .pl-lg-#{$pl-lg} {
    @media screen and (min-width: 992px) {
      padding-left: toRem($pl-lg) !important;
    }
  }
}
$pl-md-array: 0;
@each $pl-md in $pl-md-array {
  .pl-md-#{$pl-md} {
    @media screen and (min-width: 768px) {
      padding-left: toRem($pl-md) !important;
    }
  }
}
$pl-sm-array: 20;
@each $pl-sm in $pl-sm-array {
  .pl-sm-#{$pl-sm} {
    @media screen and (min-width: 576px) {
      padding-left: toRem($pl-sm) !important;
    }
  }
}
/* Padding Right */
$pr-array: 0;
@each $pr in $pr-array {
  .pr-#{$pr} {
    padding-right: toRem($pr) !important;
  }
}
@for $pr from 1 through 30 {
  .pr-#{$pr} {
    padding-right: toRem($pr) !important;
  }
}
$pr-xxl-array: 0;
@each $pr-xxl in $pr-xxl-array {
  .pr-xxl-#{$pr-xxl} {
    @media screen and (min-width: 1400px) {
      padding-right: toRem($pr-xxl) !important;
    }
  }
}
$pr-xl-array: 0;
@each $pr-xl in $pr-xl-array {
  .pr-xl-#{$pr-xl} {
    @media screen and (min-width: 1200px) {
      padding-right: toRem($pr-xl) !important;
    }
  }
}
$pr-lg-array: 0;
@each $pr-lg in $pr-lg-array {
  .pr-lg-#{$pr-lg} {
    @media screen and (min-width: 992px) {
      padding-right: toRem($pr-lg) !important;
    }
  }
}
$pr-md-array: 0;
@each $pr-md in $pr-md-array {
  .pr-md-#{$pr-md} {
    @media screen and (min-width: 768px) {
      padding-right: toRem($pr-md) !important;
    }
  }
}
$pr-sm-array: 0;
@each $pr-sm in $pr-sm-array {
  .pr-sm-#{$pr-sm} {
    @media screen and (min-width: 576px) {
      padding-right: toRem($pr-sm) !important;
    }
  }
}
